<div class="bg-light mainDiv" *ngIf="menuItems && menuItems.length > 0">

    <button class="btn btns btn-lg">{{menuItems[0].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[1].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[2].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[3].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[4].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[5].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[6].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[7].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[8].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[9].menuName}}</button>
    <button class="btn btns btn-lg">{{menuItems[10].menuName}}</button>
</div>
<!-- SMALL SCREEN -->
<div class="resDiv bg-light p-2">
    <a class="btn menures" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="MenuItems" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed">
        <div>Menu Items</div>
        <div>
            <fa-icon [icon]="bars"></fa-icon>
        </div>
    </a>
    <div class="collapse" id="MenuItems" [ngbCollapse]="isCollapsed">
        <div class="card card-body">

            <div class="mobdiv bg-light" *ngIf="menuItems && menuItems.length > 0">

                <button class="btn btns btn-lg">{{menuItems[0].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[1].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[2].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[3].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[4].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[5].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[6].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[7].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[8].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[9].menuName}}</button>
                <button class="btn btns btn-lg">{{menuItems[10].menuName}}</button>
            </div>
        </div>
    </div>
</div>