<div class="bg-light mainDiv" >
    <div class="loop" *ngFor="let bbq of url">

        <button class="btn btns btn-lg" id="btn">{{bbq.name}}</button>
    </div>
</div>

<!-- SMALL SCREEN -->
<div class="resDiv bg-light p-2">
    <a class="btn menures" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="MenuItems" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed">
        <div>Menu Items</div>
        <div>
            <fa-icon [icon]="bars"></fa-icon>
        </div>
    </a>
    <div class="collapse" id="MenuItems" [ngbCollapse]="isCollapsed">
        <div class="card card-body">

            <div class="mobdiv bg-light">

                <div class="loop" *ngFor="let bbq of url">

                    <button class="btn btns btn-lg" >{{bbq.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>