<div id="body">
    <app-header></app-header>
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-0 order-lg-0">
                <app-menu></app-menu>
            </div>
             <div class="col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-1 order-lg-3 order-md-2 order-sm-1 order-1"> <!--order-md-2 order-sm-1 -->
              <app-item-details></app-item-details>   
            </div>
        </div>   
      </div>
</div>