<div id="body">
    <div>

        <app-header></app-header>
    </div>
<div class="container-fluid ">
    <div class="row ">
        <div class="col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-0 order-lg-0sssssss">
            <app-menu></app-menu>
        </div>
         <div class="col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-1 order-lg-3 order-md-2 order-sm-1 order-1"> <!--order-md-2 order-sm-1 -->
          <app-item-details></app-item-details>
         
        </div>
        <div class="col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-1 order-lg-2 order-md-1 order-sm-0 order-0"> <!--order-md-2 order-sm-1 -->
            <app-menu-items></app-menu-items>
           
          </div>
        
        <div class="col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-3 order-lg-3 order-md-3 order-sm-3 order-2">
            <app-order-details></app-order-details>
         </div> 
        
    </div>
    <!-- <div class="row ">
        <div class="col-xxl-6 col-lg-12">
            <app-menu-items></app-menu-items>
            
        </div>
        <div class="col-xxl-6 col-lg-12">
           <app-order-details></app-order-details>
        </div>
        
    </div> -->
   
</div>

</div>