<div class="order-btnTables">
    <ul class="nav nav-pills nav-justified my-2">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">New Order
                <div class="fa-icon">
                    <fa-icon [icon]="utensils" size="2x"></fa-icon>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Hold
                Order
                <div class="fa-icon">
                    <fa-icon [icon]="pause" size="2x"></fa-icon>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Print Order
                <div class="fa-icon">
                    <fa-icon [icon]="print" size="2x"></fa-icon>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Print Invoice
                <div class="fa-icon">
                    <fa-icon [icon]="receipt" size="2x"></fa-icon>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Payments
                <div class="fa-icon">
                    <fa-icon [icon]="database" size="2x"></fa-icon>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Reports
                <div class="fa-icon">
                    <fa-icon [icon]="reports" size="2x"></fa-icon>
                </div>
            </a>
        </li>

    </ul>
</div>

<!-- Inputs -->
<div class="order-inputs">
    <div class="d-flex bg-success p-1 ">
        <input type="text" class="form-control mx-1" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" placeholder="ORDER NOTES">
        <input type="text" class="form-control mx-4 small" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" placeholder="Manual KOT NO">
    </div>
   
</div>
<div class="row res-tables bg-success">
    <div class="col-6 ">
        <div class="">
            <input type="text" class="form-control  input2 " aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="VACANT TABELS">

        </div>

        <div class="container bg-light">
          <button class="btn">T01</button>
          <button class="btn">T02</button>
          <button class="btn">T03</button>
          <button class="btn">T04</button>
          <button class="btn">T05</button>
          <button class="btn">T06</button>
          <button class="btn">T07</button>
          <button class="btn">T08</button>
          <button class="btn">T09</button>
          <button class="btn">T10</button>
          <button class="btn">T11</button>
          <button class="btn">T12</button>
          <button class="btn">T13</button>
          <button class="btn">T14</button>
          <button class="btn">T15</button>
          <button class="btn">T16</button>
          <button class="btn">T17</button>
          <button class="btn">T18</button>
          <button class="btn">T19</button>
          <button class="btn">T20</button>
          <button class="btn">T21</button>
          <button class="btn">T22</button>
          <button class="btn">T23</button>
          <button class="btn">T24</button>
          <button class="btn">T25</button>
          <button class="btn">T26</button>
          <button class="btn">T27</button>
          <button class="btn">T28</button>
        </div>



    </div>
    <div class="col-6">
        <div class="w-50">
            <p>Pending Bills</p>
        </div>
        <div class="row bg-light">
            <div class="col-12">
               <div class="scroll-it">

                   <table class="table">
                       
                       <tbody>
                         <tr>
                           
                           <td>T07-73</td>
                           <td>2169</td>
                           <td class="text-danger">00:00</td>
                         </tr>
                         <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                          <tr>
                           
                            <td>T07-73</td>
                            <td>2169</td>
                            <td class="text-danger">00:00</td>
                          </tr>
                 
                       </tbody>
                     </table>
               </div>
            </div>
        </div>
    </div>
</div>