<div class="scrollable">

  <table class="table my-2 bg-light">
    <thead class=" bg-success text-light text-center">
      <tr>
        <th scope="col">ITEMS</th>
        <th scope="col">QTY</th>
        <th scope="col">PRICE</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">ACTION</th>
      </tr>
  
    </thead>
    
      <tbody class="text-center">
        <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>   <tr>
          <th scope="col">ITEMS</th>
          <th scope="col">QTY</th>
          <th scope="col">PRICE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ACTION</th>
        </tr>
      </tbody>
   
  </table>
</div>

<div class="d-flex bg-success text-light">
  <div class="p-2 flex-fill ">Table No: N/A</div>
  <div class="p-2 flex-fill ">Order No: N/A</div>
  <div class="p-2 flex-fill ">Gross Amount:</div>
</div>